# 数据库 - Docker 容器名
DB_HOST=em-mysql
DB_PORT=3306
DB_NAME=edumark
DB_USER=root

# Redis
REDIS_HOST=em-redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=123456

# MinIO
MINIO_ENDPOINT=em-minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# Qdrant
QDRANT_HOST=em-qdrant
QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334


# 阿里云 OCR
ALIYUN_ACCESS_KEY_ID=
ALIYUN_ACCESS_KEY_SECRET=

# ---------- 百炼平台 ----------
BAILIAN_API_KEY=

# MinerU
MINERU_KEY=

# Celery
CELERY_BROKER_URL=redis://:123456@em-redis:6379/1
CELERY_RESULT_BACKEND=redis://:123456@em-redis:6379/1
